<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div>

    <h3>Hi <span th:text="${name}">User</span>!</h3>
    <div class="py-5">
        Thanks for ordering from CodeCool Coffe Shop!
    </div>
    <div class="py-5">
        Your order details was the following:
    </div>
    <div th:replace="review.html :: copy"></div>
    <div class="py-5">
        <strong>&copy; 2020 Ice Cold Cappuccino Team (Codecool Budapest)</strong>
    </div>

</div>

</body>
</html>