<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"> <img class="navbar-icon" src="static/img/logo.png" alt=""> Ice Cold Cappuccino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuCategory" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuCategory" >
                        <a class="dropdown-item" th:each="category: ${categories}" th:href="@{/(categoryId=${category.getId()})}" th:text="${category.getName()}">Category name...</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuSupplier" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Suppliers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuSupplier" >
                        <a class="dropdown-item" th:each="supplier: ${suppliers}" th:href="@{/(supplierId=${supplier.getId()})}" th:text="${supplier.getName()}">Supplier name</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>