<form id="form">
    <div class="form-row p-2">
        <div class="col">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" placeholder="First name" id="firstName" name="firstName"
                   required>
        </div>
        <div class="col">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName" required>
        </div>
    </div>
    <div class="form-row p-2">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="inputEmail" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
</form>
